{% block product_row %}
    <div class="row">
        <div class="col-6">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="col-3">
            {{ form_row(form.coverImage, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.shortDescription, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-6">
            {{ form_row(form.featured, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
{% endblock %}